hr {
  width: 100%;
  border: none;
  height: 3px;
  background-color: #333;
}

.nav-link {
  color: #2A3F5F;
}

.nav-link .nav-link.active {
  color: #2A3F5F;
  background-color: lightgray;
}

#navbar
{
    border-bottom: 2px solid #2A3F5F;
}

#footer {
    border-top: 2px solid #2A3F5F;
}

.rc-slider-track {
    background-color: #2A3F5F;
}

.rc-slider-dot-active {
    border-color: #2A3F5F;
}

.rc-slider-handle {
    border: solid 2px #2A3F5F;
}

.center-col {
  text-align:center;
  justify-content:center;
}


